.rounded_button{
    background-color: transparent;
    border: none;
    color: #515365;

    &.info:hover {
        color: #2196f3;
    }

    &.primary:hover {
        color: #4361ee;
    }

    &.danger:hover {
        color: red;
    }
}

th {

    position: relative;
    cursor: pointer;
    
    &:before{
        right: 1em;
        opacity: 1;
        color: #d3d3d3;
        position: absolute;
        bottom: .9em;
        display: block;
    }

    &.sort {
        &:before {
            content: "↑";
        }
    }

    &:after{
        right: .5em;
        opacity: 1;
        color: #d3d3d3;
        position: absolute;
        bottom: .9em;
        display: block;
    }

    &.sort {
        &:after{
            content: "↓";
        }
    }

    &.sort_asc {
        &:before{
            color: #0e1726;
        }
    }

    &.sort_desc {
        &:after{
            color: #0e1726;
        }
    }
}