.rounded_button{
    background-color: transparent;
    border: none;
    color: #515365;

    &.info:hover {
        color: #2196f3;
    }

    &.primary:hover {
        color: #4361ee;
    }

    &.danger:hover {
        color: red;
    }
}

.field_checkbox.checkbox_primary {
    .checkbox_indicator {
        display: none;
        border-color: #4361ee;

        &::after {
            border-color: #4361ee;
        }
    }

    & > input[type="checkbox"] {
        display: block;
        margin-top: 6px;
    }
}

.cork_checkbox {
    appearance: none;
    background-position-x: 50%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    border-radius: 3.5px;
}