:global {
    .rounded_button{
        background-color: transparent;
        border: none;
        color: #515365;
    }

    .detail_button {
        svg {
            margin-top: -2px;
        }
    }

    .edit_button {
        svg {
            width: 15px;
            height: 20px;
            margin-top: -4px;
        }
    }

    .remove_button {
        svg {
            width: 15px;
            height: 20px;
            margin-top: -4px;
        }
    }

    .size_wrapper {
        display: flex; 
        align-items: center;

        select {
            width: 66px;
        }
    }

    .inline_input {
        display: flex;
        align-items: center;

        span {
            width: 123px;
        }
        input {
            flex-grow: 1;
        }
    }

    .action_button {
        background-color: transparent;
        border: none;
    }

    .page-link {
        &.next{
            border-radius: 8px;
        }
    }

    div.dataTables_wrapper {
        div.dataTables_filter {
            input.input_search {
                width: auto;
                min-width: 268px;
                padding-right: 46px;
            }
        }
    }

    .pages_count_wrapper {
        visibility: hidden;
    }

    .custom_spinner {
        div {
            width: 50px;
            height: 50px;
        }
    }
    
    .dataTables_wrapper {
        select.form-control.datatable_select {

            background: #fff url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") right .75rem center/8px 10px no-repeat;
            background-color: #f1f2f3;
            border: none;
            border-radius: .25rem;
            padding: 7px 16px;
            height: 39px;
            left: -20px;
            position: relative;
        }
    }

    .add_button {
        position: relative;
        left: -20px;
    }

    .total_summary {
        float: right;
        margin-top: 20px;
    }
    
    .dt--bottom-section {
        justify-content: center;
        align-items: center;
    }

    .pagination a {
        border-radius: 50%;
    }

    ul.pagination li.page-item:last-child a.page-link {
        border-radius: 50%;
    }

    ul.pagination li.page-item:first-child a.page-link {
        border-radius: 50%;
    }

    .table > thead > tr > th {
        text-transform: uppercase;
        letter-spacing: 0px;
        background-color: #fff;
        color: #4361ee;
        border-top: 1px solid #e0e6ed;
        border-bottom: 1px solid #e0e6ed;

        &.sort {
            border-bottom: 2px solid #e0e6ed;
        }
    }
}